<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".WarRescueApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WarAlarm">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.WarAlarm.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.AuthActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.MainActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.AlertDetailActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.ShelterDetailActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.ProfileEditActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.SubscriptionActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.SimulationActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.SimulationRunActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.SOSActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.RoutePlanActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.EmergencyProfileActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.NotificationSettingsActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.AlertSettingsActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.FamilySettingsActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.MutualAidActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.InviteFriendsActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.CityAlertActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.CityAlertDetailActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.FamilyMemberDetailActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.AIMonitorHistoryActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.SimulationReportActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.AidChatActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.AidCompletionActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.AidResponseActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.AidSettingsActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.AlertPopupActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.AnnouncementDetailActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.AnnouncementListActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.CreateHelpRequestActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.HelpRequestDetailActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.HelpRequestListActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.LegalPageActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.MyAidRecordsActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.MySkillsActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.NearbyHelpersActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
        <activity android:name=".activity.PointsActivity" android:theme="@style/Theme.WarAlarm.NoActionBar" />
    </application>

</manifest>
